.container {
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-image: url(../images/wall.png);
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 90px;
    width: 100%;
    background-color: #000000;
    color: #fff;
    border-bottom: 5px solid #ffd700;
}

.menu-time h2:last-child,
.menu-score h2:last-child{
    margin-top: 1rem;
}

.panel{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    height: 150px;
    width: 150px;
    border: 1px solid #000;
    background-color: #11dd99;
}

.enemy {
    background-image: url(../images/ralph.png);
    background-size: cover;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}